<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>


<!-- 
  RouterLink Directives on the anchor tags give the router control over those elements .
  The navigation paths are fixed, so you can assign a string to the routerLink(a "one-time" binding)
-->
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>

</div>


<!-- 

  This is a directive FROM the router library that is used like a component.
  It Behaves as a placeholder that marks the spot in the template where the router
  should display the components for that outlet.
 
 -->
<router-outlet></router-outlet>
